body {
  background-color: #062b5f;
  color: #fff;
}
.bodyElement {
  margin-top: 30px;
}

.imgBox {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#logo {
  width: 200px;
  height: 240px;
}

.rowContainer {
  margin-top: 50px;
}

.card {
  height: 300px;
}
.card-img-top {
  height: 180px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  color: #062b5f;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

.yellowText {
  color: yellow;
  font-size: 30px;
  font-weight: 700;
}

.consult {
  font-size: 25px;
}
.askLuis {
  color: yellow;
  font-size: 50px;
}

span {
  margin: 0 5px;
  color: #fff;
}

.topContact {
  display: flex;
  align-items: center;
}

.bottom {
  margin-bottom: 40px;
}
